html {
    min-height: 100%;
    position: relative;
  }
body{
    background-color: rgb(244, 244, 244);
    margin: 0;
  margin-bottom: 40px;
}


.nav {
    background-color: #0C9;
    padding: 0.9375rem; /* 1 rem son 16 px*/
}


.float{

    position: absolute;
    right: 1.125rem;
    bottom: -1.125rem;
    background: #0C9;
    color: #fff;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
    outline:none;
    border: none;
}

.plus{
    margin:0.4375rem 0.2188rem;
    font-size: 1.3125rem;
}

.delete{
    font-size: 0.9375rem;
    color: #0C9;
}

.btn-delete{
    position: absolute;
    float: left;
    right: 0.25rem;
    top: 0.25rem;
    font-size: 0.9375rem;
    outline:none;
    border: none;
    background: #FFF;
    
}

.float:hover{
    color: black;
}

.center{
    display: grid;
    place-items: center;
}

.div-cards{
    display: flex;
}

.card{
    background-color: #FFF;
    max-width: 300px;
    min-width: 12.5rem;
    height: fit-content;
    margin: 3.125rem;
    padding-right: 30px;
    float: left;
}

.card.addCard{
    background-color: #FFF;
    width: 31.25rem;
    max-width: none;
    height: fit-content;
    margin: 3.125rem;
}

.add{
    width: 85%;
    margin: 0.625rem;
}
.content{
    padding-bottom: 1.25rem;
}


.footer{
    
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    color: #ccc;
}